[Software\BigFix\EnterpriseClient\Settings\Client\__RelaySelect_Automatic]
value                          = 0

[Software\BigFix\EnterpriseClient\Settings\Client\__RelayServer1]
value                          = http://{{ bigfix_client_server_name }}:{{ bigfix_client_server_port }}/bfmirror/downloads/

[Software\BigFix\EnterpriseClient\Settings\Client\cid]
value                          = {{ bigfix_client_id }}
